body {
	background-color: rgb(241,241,241);
	font-family: "Calibri";
	text-align: center;
}

.center {
    text-align: center;
}
.container {
	background: rgb(200,30,63);
	height: 100%;
	width: 100%;
}
#bar {
	background: rgb(40,46,125);

}
#start-stop {
	width:100%;
	height: 20px;
}
#map {
	background: rgb(40,46,125);
}

img {
	width: 350px;
}
